.icon-box{
	@extend %full-width;
	position: relative;
	margin-bottom:15px;
	@include transition(background-color .3s ease);
	&:before{
		content:"";
		padding-top:100%;
		display: block;
	}
	&.search-color{
		&:hover,&:active{
			background-color: $search-color-hover !important;
		}
	}
	&.blog-color{
		&:hover,&:active{
			background-color: $blog-color-hover !important;
		}
	}
	&.profile-color{
		&:hover,&:active{
			background-color: $profile-color-hover !important;
		}
	}
	&.contact-color{
		&:hover,&:active{
			background-color: $contact-color-hover !important;
		}
	}
}
.icon{
	height:66%;
	width:100%;
	@include abs-pos(50%,auto,auto,0);
	margin-top:-33%;
	text-align:center;
	img{
		width:auto;
		height:100%;
		margin:0 auto;
	}

}
@media #{$xsmall-only} { 
	.page-links-xsmall{
		@include block-grid(
			$per-row: 1,
			$spacing: $block-grid-default-spacing
		)
	}
}
@media #{$small-only} { 
	.page-links-small{
		@include block-grid(
			$per-row: 2,
			$spacing: $block-grid-default-spacing
		)
	}
}

/* Media Queries */

@media #{$small-up} { 

	

}

@media #{$medium-up} { 

	.page-links-medium{
		@include block-grid(
			$per-row: 4,
			$spacing: $block-grid-default-spacing
		)
	}

}

@media #{$large-up} { 

	.page-links-medium{
		@include block-grid(
			$per-row: 4,
			$spacing: rem-calc(50)
		)
	}
	
}