#search-form{
	padding-bottom:50px;
	margin-bottom: 50px;
	border-bottom: 1px solid $grey;
}
article.candidate{
	main.profile{
		display: none;
	}
}
#search-results{
	footer{
		padding-top: 50px;
	}
}

@media #{$medium-up} { 

	#search-results{
		li{
			footer{
				text-align: right;
				a{
					margin-left:20px;
					margin-bottom:0;
				}
			}
		}

	}

}