html{
	
}
body{
	width:100%;
	overflow-x:hidden;
	font-family: $helvetica;
	//font-family:$open-sans;
	//font-weight:300;
	font-weight:400;
	color: $grey;
	background-color:$vgl-blue;
	@include font-size(14px);
	// /-webkit-font-smoothing: antialiased;
}
