//colours
$vgl-blue: #2a3644;
$search: #f17a72;
$blog: #78bcaf;
$profile: #e05e66;
$secondary: #306480;
$grey: #474747;
$light-grey: #efefef;
$contact: #306480;

//fonts
$open-sans : 'Open Sans', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;


