#footer{
	color:white;
	padding: 20px 0 40px;
	text-align:center;
	a{
		&:link,&:visited{
			color: white;
			text-decoration: none;
		}
		&:hover,&:active{
			color: darken(white,15%);
		}
	}
	.bottom{
		@include font-size(12px);
		text-align: center;
	}
	.top{
		margin-bottom: 10px;
	}
}
menu.social{
	@include inline-menu;
	@extend .clearfix;
	margin:0 auto;
	padding:0;
	display:inline-block;
	strong,ul{
		float:left;
	}
	strong{
		padding-right:10px;
	}
	li{
		padding-left:5px;
	}
	span{
		display:none;
	}
}

@media #{$xsmall-only}{

	#footer{
		.bottom{
			span{
				display: block;
			}
		}
	}
	
}

@media #{$medium-only} { 

	#footer{
		.top{
			@include font-size(12px);
		}
		.bottom{
			@include font-size(11px);
		}
	}

}

@media #{$medium-up} { 

	#footer{
		.top{
			.columns{
				&:first-child{
					text-align: left;
				}
			}
		}
		menu.social{
			float:right;
			margin:0;
		}
	}

}