.search-color{
	background-color: $search !important;
}
.blog-color{
	background-color: $blog !important;
}
.profile-color{
	background-color: $profile !important;
}
.contact-color{
	background-color: $contact !important;
}

#intro{
	background-color: $vgl-blue;
	color:white;
	padding: 20px 0;
	.columns:last-child{
		display: none;
	}
	a{
		&:link,&.visited{
			color: white;
			font-weight:700;
			text-decoration: none;
		}
		&:hover,&:active{
			color:darken(white,20%);
		}
	}
	.page-icon{
		@extend %full-width;
		img{
			@include fit-grid(width);
			max-height: 280px;
		}
	}
}
#page-header{
	@extend %full-width;
	margin-bottom:20px;
	@extend .clearfix;
}
.breadcrumbs, .shortlist-link{
	float: none;
	display: block;
}
.breadcrumbs{
	margin-bottom: 20px;
}
a.more-posts{
	@include font-size(16px);
	text-transform:uppercase;
	font-weight:700;
	color: $vgl-blue;
	text-decoration:none;
}
.align-left{
	float:left;
}
.align-right{
	float:right;
}
menu.social{
	@include inline-menu;
	strong,ul{
		float:left;
		display: block;
	}
	strong{
		margin-right:10px;
	}
	li{
		margin: 0 5px 0 0;
		#footer &{
			margin:0 0 0 5px
		}
	}
	a{
		display: block;
		overflow:hidden;
		float:left;
		width:22px;
		height:22px;
		line-height: 22px;
		text-align: center;
		@include border-radius(5px);
		background-color: #007bb6;
		&:hover,&:active{
			background-color: lighten(#007bb6,10%);
			color: white !important;
		}
		color: $light-grey;
		span{
			@include abs-pos(0,auto,auto,-500px)
		}
		&.facebook{
			background-color: #3c5a98;
			&:hover,&:active{
				background-color: lighten(#3c5a98,10%);
			}
		}
		&.twitter{
			background-color: #2ba8e0;
			&:hover,&:active{
				background-color: lighten(#2ba8e0,10%);
			}
		}
		&.google-plus{
			background-color: #dc4b38;
			&:hover,&:active{
				background-color: lighten(#dc4b38,10%);
			}
		}
	}
}
article.post{
	position:relative;
	@extend %clearfix; 
	display:block;
	h3{
		margin-bottom: 10px;
	}
	header{
		margin-bottom: 20px;
		
	}
	footer{
		padding-top:30px;
		@extend .clearfix;
		.buttons{
			float: left;
			a{
				margin: 0 20px 0 0;
			}
		}
		menu.social{
			float:none;
			@extend .clearfix;
			display: block;
			margin-bottom: 20px;
		}
	}
	figure{
		width:100%;
		display: block;
		color: $light-grey;
		border:4px solid $vgl-blue;
		margin-bottom: 20px;
		@include border-radius(10px);
		&:before{
			content:"";
			padding-top:100%;
			display: block;
		}
	}
	.inner-wrap{
		padding-bottom: 50px;
		margin-bottom: 50px;
		border-bottom: 1px solid $grey;
	}
	&.candidate{
		h3{
			margin-bottom: 20px;
		}
		footer{
			a{
				margin-left:20px;
			}
		}
		main.profile{
			padding-top: 30px;
		}
		header{
			p{
				margin-bottom: 10px;
				padding-left:30px;
				position: relative;
				i{
					@include abs-pos(-2px,auto,auto,0);
					width:25px;
					height:25px;
					line-height:25px;
					text-align: center;
					display: block;
					background-color: $vgl-blue;
					color: white;
					@include border-radius(50%);
				}
				&:last-child{
					margin:0;
				}
			}	
		}
	}
}
footer#posts-footer{
	text-align:center;
}

/* Media Queries */

@media #{$medium-up} { 

	#intro{
		padding: 40px 0 20px;
		.columns{
			&:last-child{
				display: block;
			}
			&:first-child{
				div{
					padding-right:30px;
				}
			}
		}
	}
	.breadcrumbs{
		float:left;
		margin-bottom: 0;
	}
	.shortlist-link{
		float:right; 
	}
	article.post{
		figure{
			margin-bottom: 0;
		}
		footer{
			menu.social{
				float:left;
				display: inline-block;
				margin:0;
			}
			.buttons{
				float: right;
				a{
					margin: 0 0 0 20px;
				}
			}
		}
	}
}