#header{
	background-color: white;
	position: relative;
	&:before{
		content:"";
		@extend %full-width;
		height:15px;
		background-color: $vgl-blue;
		@include abs-pos(0,auto,auto,0);
	}
	#home-link{
		display: block;
		width: 89px;
		height:113px;
		@include bg-image('vgl-logo-mobile');
		@extend %ir;
		margin:40px auto 20px;
	}
	aside{
		display: none;
	}
	#account-links{
		float: left;
		background-color: $vgl-blue;
		display: inline-block;
		height:34px;
		line-height: 34px;
		margin:0;
		z-index: 999;
		padding:0 10px;
		color: white;
		margin-left: -0.9375rem;
		a{
			font-weight: 700;
			text-decoration: none;
			&:link,&:visited{
				color: white;
			}
		}
	}
}

/* Media Queries */

@media #{$medium-up}{
	
	#header{
		#home-link{
			width:232px;
			height:81px;
			@include bg-image('vgl-logo');
			float:left;
			margin:0 0 20px;
		}
		#account-links{
			float:right;
		}
		aside{
			height:101px;
			width: auto;
			float: right;
			display: inline-block;
			max-width: 420px;
			min-width:340px;

			&:before{
				content:"";
				height:100%;
				vertical-align: middle;
				display: inline-block;
			}
			h2{
				margin-bottom: 0;
				width:98%;
				text-align: right;
				vertical-align: middle;
				display: inline-block;
				//white-space: nowrap;
			}
		}
	}
}

@media #{$large-up} { 

}
