#nav{
	@include inline-menu;
	@extend %full-width;
	@extend .clearfix;
	margin-bottom:-15px;
	z-index:999;
	ul{
		@extend %full-width;
		@extend .clearfix;
	}
	li{
		width: 20%;
		position: relative;
		height:30px;
		&:after{
			content:"";
			@include abs-pos(50%,0,auto,auto);
			width:1px;
			height:14px;
			display: block;
			background-color: $vgl-blue;
			margin-top: -7px;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	a{
		display: block;
		width:100%;
		text-align: center;
		font-weight: 700;
		height:30px;
		line-height: 30px;
		&:link,&:visited{
			text-decoration:none;
			color: $vgl-blue;
			background-color: white;
		}
		&:hover,&:active{
			color: $secondary;
		}
	}
}
.menu-toggle{
	display: none;
}