h1,h2,h3,h4{
	font-family: $open-sans;
	@include font-size(22px/100*75);
	font-weight:600;
	line-height: 120%;
	margin: 0 0 15px;
}


/* Media Queries */

@media #{$medium-only} { 

}

@media #{$medium-up} { 

	h1,h2,h3,h4{
		@include font-size(22px);
	}

}

@media #{$large-up} { 
	
}